@model MedicineViewModel
@{
    ViewData["Title"] = "Medicine Page";
}


<form asp-controller="Medicine" asp-action="Add">
   Name: <input type="text" name="Name"/><br/>
   Company Name: <input type="text" name="CompanyName"/><br/>
   Active Substance: <input type="text" name="ActiveSubstance"/><br/>
   Weight: <input type="text" name="Weight"/><br/>
   Price: <input type="text" name="Price"/><br/>
   Amount: <input type="text" name="Amount"/><br/>
   Expire Date: <input type="text" name="ExpireDate"/><br/>
    <button type="submit" class="btn btn-success">Add</button>
</form>

